{% extends "blog/base.html" %}

{% block content %}
<section class="hero py-4">
    <div class="container blog-posts">

        <h1>My About Page</h1>
        <br><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem itaque at ea repellat eos? Debitis alias est doloremque cumque asperiores saepe totam vel earum eius temporibus voluptate, tempore perspiciatis molestiae illum veritatis aliquid nihil accusantium eveniet quis ducimus nisi nobis excepturi! Quia, distinctio sit nobis expedita harum aut atque similique?</p>
        <br><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem itaque at ea repellat eos? Debitis alias est doloremque cumque asperiores saepe totam vel earum eius temporibus voluptate, tempore perspiciatis molestiae illum veritatis aliquid nihil accusantium eveniet quis ducimus nisi nobis excepturi! Quia, distinctio sit nobis expedita harum aut atque similique?</p>
        <br><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem itaque at ea repellat eos? Debitis alias est doloremque cumque asperiores saepe totam vel earum eius temporibus voluptate, tempore perspiciatis molestiae illum veritatis aliquid nihil accusantium eveniet quis ducimus nisi nobis excepturi! Quia, distinctio sit nobis expedita harum aut atque similique?</p>
        <br><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem itaque at ea repellat eos? Debitis alias est doloremque cumque asperiores saepe totam vel earum eius temporibus voluptate, tempore perspiciatis molestiae illum veritatis aliquid nihil accusantium eveniet quis ducimus nisi nobis excepturi! Quia, distinctio sit nobis expedita harum aut atque similique?</p>
        <br><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem itaque at ea repellat eos? Debitis alias est doloremque cumque asperiores saepe totam vel earum eius temporibus voluptate, tempore perspiciatis molestiae illum veritatis aliquid nihil accusantium eveniet quis ducimus nisi nobis excepturi! Quia, distinctio sit nobis expedita harum aut atque similique?</p>

    </div>

</section>
{% endblock content %}