{% extends "blog/base.html" %}

{% block content %}

<!-- hero section  -->


<section class="hero py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="hero-post shadow">
                    {{ newest_post.article_image|safe }}
                    <div class="hero-post-badges text-center">
           
                        {% for keys, values in newest_post.get_post_topics.items %}

                        <a class="mb-1 p-2" href="{% url 'topic-posts' values.1 %}"> {{ values.0|safe }} {{ values.1 }}</a>

                        {% endfor %}

                    </div>
                    <div class="hero-post-content">

                        <a class="article-title c-pri-bkg" href="{% url 'post-detail' newest_post.id %}">
                        <div class="p-2">
                                {%  for item in newest_post.get_post_topics|first %}
                                {% if "<" in item %}
                                <p class="article-symbol d-inline-block c-pri-bkg">{{item|safe}}</p>
                                {% endif %}
                                {% endfor %}
                                <h2 class="m-0 d-inline-block c-pri-bkg">{{ newest_post.title }}</h2>
                                
                            </div>
                            <a class="p-2 px-1 mb-1 c-pri-bkg" href="#"><i class="far fa-calendar-alt mr-2 c-pri-bkg" aria-hidden="true"></i>
                                {{ newest_post.date_posted }}</a>
                            </a>


                    </div>
                </div>
            </div>


            <div class="col-md-4">

                {% for post in recent_posts %}
                <div class="hero-post shadow mb-4">
                    {{ post.article_image|safe }}
                    <div class="hero-post-badges text-center">
   
                        {% for keys, values in post.get_post_topics.items %}

                        <a class="mb-1 p-2" href="{% url 'topic-posts' values.1 %}"> {{ values.0|safe }} {{ values.1 }}</a>

                        {% endfor %}

                    </div>

                    <div class="hero-post-content">
                        <a class="article-title" href="{% url 'post-detail' post.id %}">
                        <div>
                                {%  for item in post.get_post_topics|first %}
                                {% if "<" in item %}
                                <p class="article-symbol-sm d-inline-block c-pri-bkg px-2 pt-2">{{item|safe}}</p>
                                {% endif %}
                                {% endfor %}
                                <h6 class="m-0 d-inline-block c-pri-bkg">{{ post.title }}</h6>
                            </div>
                            <a class="p-2 px-3 mb-1 c-pri-bkg" href="#"><i class="far fa-calendar-alt mr-2" aria-hidden="true"></i>
                                {{ post.date_posted }}</a>
                                
                            </div>
                            
                            
                        </div>
                    </a>
                {% endfor %}

            </div>

        </div>
    </div>
</section>

<!-- main blog section  -->

<section class="blog-posts py-4">
    <div class="container">

        <div class="row">
            <div class="col-md-8">
                {% for post in posts %}
                <article class="blog-post mb-3">
                    <div class="row">
                        <div class="col-sm-3 text-center pt-4 w-25">
                            {{ post.article_image|safe }}
                        </div>
                        <div class="col-sm-9">
                            <a class="article-title" href="{% url 'post-detail' post.id %}">
                                <h3 class="m-0 mt-3">{{ post.title }}</h3>
                            </a>
                            <p>
                                <a class="py-2 mb-2" href="#"><sub>{{ post.date_posted }}</sub></a>
                            </p>
                            <p class="m-0">{{ post.content|safe|slice:":400" }} ...
                                <span class="more">
                                    <a class="article-title" href="{% url 'post-detail' post.id %}"><span
                                            class="text-d-green">
                                            Read More</a></span></p>
                            <div class="badge">
                                {% for key, value in post.get_post_topics.items %}
                                <a href="{% url 'topic-posts' value.1 %}">{{ value.0|safe }} {{ value.1 }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </article>
                {% endfor %}

                {% if is_paginated %}
                {% if page_obj.has_previous %}
                <a class="btn pag-style mb-4" href="?page=1">First</a>
                <a class="btn pag-style mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <a class="btn pag-style mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
                <a class="btn pag-style mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <a class="btn pag-style mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn pag-style mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}

                {% endif %}



            </div>
            <aside class="col-md-4 px-4">
                <h4 class="aside-heading mt-4 pl-2 mb-3">Blog Author</h4>
                <article class="row author mb-3">
                    <div class="col-sm-4">
                        <img src="/media/profile_pics/me.jpg" alt="" class="img-fluid rounded-circle">
                    </div>
                    <div class="col-sm-8">
                        <h5 class="m-0">Drew Crawford</h5>
                        <p class="m-0">A blog about my journey in tech. Life is my playground and Python is my secret
                            superpower!</p>
                    </div>
                </article>

                <!-- social links  -->

                <div class="social-links row text-center">

                    <div class="col-sm-4 py-4">
                        <a class="social-links w-100" href="https://twitter.com/thecodinghyrax" target="_blank"><i
                                class="fab fa-twitter-square" aria-hidden="true"></i></a>
                    </div>

                    <div class="col-sm-4 social-links-div-gray py-4">
                        <a class="social-links-gray w-100" href="https://github.com/thecodinghyrax" target="_blank"><i
                                class="fab fa-github-square"></i></a>
                    </div>

                    <div class="col-sm-4 py-4">
                        <a class="social-links w-100" href="https://www.linkedin.com/in/andrew-crawford-ba0564116/"
                            target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>

                </div>



                <h4 class="aside-heading mt-4 pl-2 mb-3">Popular Categories</h4>
                <div class="badges w-100">
                    <a href="{% url 'topic-posts' 'Python' %}"><i class="fab fa-python"></i> Python </a>
                    <a href="{% url 'topic-posts' 'Windows' %}"><i class="fab fa-windows"></i> Windows</a>
                    <a href="{% url 'topic-posts' 'Raspberry Pi' %}"><i class="fab fa-raspberry-pi"></i> Raspberry Pi</a>
                    <a href="{% url 'topic-posts' 'Networking' %}"><i class="fas fa-network-wired"></i> Networking</a>
                    <a href="{% url 'topic-posts' '3D Printing' %}"><i class="fas fa-print"></i> 3D Printing</a>
                    <a href="{% url 'topic-posts' 'Projects' %}"><i class="fas fa-hammer"></i> Projects</a>
                </div>
            </aside>
        </div>

    </div>
</section>

{% endblock content %}