    {% extends "blog/base.html" %}

    {% block content %}
    <!-- main section  -->

    <section class="hero py-4">
        <div class="container">
            {% if object.author == user %}
            <div>
                <a class="btn btn-secondary btn-sm mb-1" href="{% url 'post-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-lg-8 content">
                    <!-- Content  -->
                    <div class="row p-3">
                        <div class="col-sm-2">
                            <a href="#">{{ object.article_image|safe }}</a>
                        </div>
                        <div class="col-sm-10">
                            <h1>{{ object.title|safe }}</h1>
                        </div>
                        <div class="p-content p-4 w-100">
                         {{ object.content|slice:"1:"|safe }}
                      </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <!-- social links  -->
                    <div class="social-links row text-center">

                        <div class="col-sm-4 py-4">
                            <a class="social-links w-100" href="https://twitter.com/thecodinghyrax" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
                        </div>
    
                        <div class="col-sm-4 social-links-div-dark py-4">
                            <a class="social-links-dark w-100" href="https://github.com/thecodinghyrax" target="_blank"><i class="fab fa-github-square"></i></a>
                        </div>
    
                        <div class="col-sm-4 py-4">
                            <a class="social-links w-100" href="https://www.linkedin.com/in/andrew-crawford-ba0564116/" target="_blank"><i class="fab fa-linkedin"></i></a>
                        </div>
    
                    </div>
                    <h4 class="aside-heading mt-4 pl-2 mb-3">Related Posts</h4>


                    {% for related_post in view.related_posts %}
                    {% if related_post.id != object.id %}
                    <div class="hero-post shadow mb-4">
                        {{ related_post.article_image|safe }}
                        <div class="hero-post-badges text-center">
       
                            {% for keys, values in related_post.get_post_topics.items %}
    
                            <a class="mb-1 p-2" href="{% url 'topic-posts' values.1 %}"> {{ values.0|safe }} {{ values.1 }}</a>
    
                            {% endfor %}
    
                        </div>
    
                        <div class="hero-post-content">
                            <a class="article-title" href="{% url 'post-detail' related_post.id %}">
                            <div>
                                    {%  for item in related_post.get_post_topics|first %}
                                    {% if "<" in item %}
                                    <p class="article-symbol-sm d-inline-block c-pri-bkg px-2 pt-2">{{item|safe}}</p>
                                    {% endif %}
                                    {% endfor %}
                                    <h6 class="m-0 d-inline-block c-pri-bkg">{{ related_post.title }}</h6>
                                </div>
                                <a class="p-2 px-3 mb-1 c-pri-bkg" href="#"><i class="far fa-calendar-alt mr-2" aria-hidden="true"></i>
                                    {{ related_post.date_posted }}</a>
                                    
                                </div>
                                
                                
                            </div>
                        </a>
                        {% endif %}
                    {% endfor %}


                    <!-- <div class="hero-post shadow mb-4">
                        <img src="https://source.unsplash.com/random/400x300" alt="" class="img-fluid">
                        <div class="hero-post-badges text-center">
                            <a class="p-2 px-3 mb-2" href="#"><i class="fa fa-calendar-o mr-2" aria-hidden="true"></i>
                                CT>date</a>
                            <a class="p-2 px-3" href="#">CT>sim-articles-link</a>
                        </div>
                        <div class="hero-post-content">
                            <div class="row">
                                <div class="col-sm-3">
                                    <img class="image-fluid rounded-circle"
                                        src="https://source.unsplash.com/50x50/?person" alt="person">
                                </div>
                                <div class="col-sm-9">
                                    <h3>CT>post title</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hero-post shadow mb-4">
                        <img src="https://source.unsplash.com/random/400x300" alt="" class="img-fluid">
                        <div class="hero-post-badges text-center">
                            <a class="p-2 px-3 mb-2" href="#"><i class="fa fa-calendar-o mr-2" aria-hidden="true"></i>
                                CT>date</a>
                            <a class="p-2 px-3" href="#">CT>sim-articles-link</a>
                        </div>
                        <div class="hero-post-content">
                            <div class="row">
                                <div class="col-sm-3">
                                    <img class="image-fluid rounded-circle"
                                        src="https://source.unsplash.com/50x50/?person" alt="person">
                                </div>
                                <div class="col-sm-9">
                                    <h3>CT>post title</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hero-post shadow mb-4">
                        <img src="https://source.unsplash.com/random/400x300" alt="" class="img-fluid">
                        <div class="hero-post-badges text-center">
                            <a class="p-2 px-3 mb-2" href="#"><i class="fa fa-calendar-o mr-2" aria-hidden="true"></i>
                                CT>date</a>
                            <a class="p-2 px-3" href="#">CT>sim-articles-link</a>
                        </div>
                        <div class="hero-post-content">
                            <div class="row">
                                <div class="col-sm-3">
                                    <img class="image-fluid rounded-circle"
                                        src="https://source.unsplash.com/50x50/?person" alt="person">
                                </div>
                                <div class="col-sm-9">
                                    <h3>CT>post title</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="hero-post shadow">
                        <img src="https://source.unsplash.com/random/400x300" alt="" class="img-fluid">
                        <div class="hero-post-badges text-center">
                            <a class="p-2 mb-2" href="#"><i class="fa fa-calendar-o mr-2" aria-hidden="true"></i>
                                CT>date</a>
                            <a class="p-2" href="#">CT>sim-articles-link</a>
                        </div>
                        <div class="hero-post-content">
                            <div class="row">
                                <div class="col-sm-3">
                                    <img class="image-fluid rounded-circle"
                                        src="https://source.unsplash.com/50x50/?person" alt="person">
                                </div>
                                <div class="col-sm-9">
                                    <h3>CT>post title</h3>
                                </div>
                            </div>
                        </div>
                    </div> -->




                    <h4 class="aside-heading mt-4 pl-2 mb-3">Popular Categories</h4>
                    <div class="badges w-100">
                        <a href="#">Python</a>
                        <a href="#">Windows</a>
                        <a href="#">Raspberry Pi</a>
                        <a href="#">Networking</a>
                        <a href="#">3D Printing</a>
                        <a href="#">Projects</a>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock content %}
<!-- font-family: 'Montserrat', sans-serif; -->