:root {
    --pri-bkg: #0B0C10;
    --sec-bkg: #1F2833;
    --gray: #C5C6C7;
    --primary: #40b646;
    --secondary: #45A290;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    color: var(--primary);
}

h3 {
    font-size: 1.4rem;
}

a {
    color: var(--primary);
}

a:hover {
    text-decoration: none;
    color: white;
}

input {
    background-color: var(--sec-bkg) !important;
    color: var(--primary) !important;
}

img {
    filter: grayscale(50%) brightness(0.8);
}

img.rounded-circle {
    filter: none;
    border: 2px solid var(--primary) ;
}

/* Header  */

.navbar {
    background-color: var(--pri-bkg);
}

.navbar-brand,
.footer-logo {
    font-weight: 700;
    font-size: 2rem;
}

.btn-main {
    background-color: var(--primary) !important;
    color: var(--pri-bkg) !important;
}

/* Hero  */

.hero {
    background-color: var(--sec-bkg);
}

.hero-post {
    position: relative;
}

.hero-post-badges {
    position: absolute;
    top: 10px;
    right: 10px;
}

.hero-post-badges > a {
    display: block;
    color: var(--pri-bkg);
    background-color: var(--primary);
    font-size: 0.8rem;
}

.hero-post-content {
    position: absolute;
    bottom: 10px;
    left: 0.5rem;
    width: 97%;
    color: var(--gray) !important;
    /* color: var(--pri-bkg); */
    /* background-color: var(--primary); */
    background-color: var(--pri-bkg);

}
.c-pri-bkg {
    /* color: var(--pri-bkg) !important; */
    color: var(--gray) !important;

}

.c-pri-bkg > i {
    /* color: var(--pri-bkg) !important; */
    color: var(--primary) !important;

}


/* main blog  */

.blog-posts {
    background-color: var(--pri-bkg);
    color: var(--gray);
}

.blog-post {
    background-color: var(--sec-bkg);
}

.blog-post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-post p {
    font-size: 0.9rem;
}

.blog-post  .col-sm-9 {
    border-left: 3px solid var(--primary);
}

.badge {
    margin: 1rem 0;
}

.badge > a {
    margin-left: 0.5rem;
    padding: 0.5rem;
    background-color: var(--primary);
    color: var(--pri-bkg);
}

/* aside */

.social-links {
    background-color: var(--primary);
    color: var(--sec-bkg);
    font-size: 3rem;
}

.social-links-gray {
    color: var(--primary);
    background-color: var(--sec-bkg);
    font-size: 3rem;
}
.social-links-div-gray {
    color: var(--primary);
    background-color: var(--sec-bkg);
}

.social-links-dark {
    color: var(--primary);
    background-color: var(--pri-bkg);
    font-size: 3rem;
}
.social-links-div-dark {
    color: var(--primary);
    background-color: var(--pri-bkg);
}

.aside-heading {
    border-left: 3px solid var(--primary);
}

.author-social-links a{
    margin-left: 0.8rem;
}

.author {
    font-size: 0.9rem;
}

.article-symbol > i{
    font-size: 3.5rem;
    color: var(--primary);
}

.article-symbol-sm > i{
    font-size: 1.5rem;
    color: var(--primary);
}

.badges {
    margin-top: 1rem;
}

.badges > a {
    padding: 0.5rem;
    display: inline-block;
    margin: 0.2rem;
    background-color: var(--primary);
    color: var(--pri-bkg);
}

/* Footer  */

.footer {
    background-color: var(--sec-bkg);
    color: var(--gray);
}

.footer input {
    background-color: var(--pri-bkg) !important;
}

.footer p {
    font-size: 0.9rem;
}

/* detail page  */

.content {
    background-color: var(--pri-bkg);
    color: var(--gray);
}

.pag-style {
    background-color: var(--sec-bkg);
    color: var(--gray);
}

.pag-style-d {
    background-color: var(--pri-bkg);
    color: var(--gray);
}

.hide-on-hover:hover {
    display: none;
}

.show-on-hover {
    display: none;
}

.show-on-hover:hover {
    display: block;
}

.article_img {
    width: 10rem !important;
    height: 10rem !important;
    object-fit: contain !important;
} 