:root {
--d-green: #61892F;
--b-green: #00d423;
--dark: #222629;
--d-gray: #474B4F;
--gray: #6B6E70;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: bold;
  src: local('Rubik'), url('/static/blog/fonts/Rubik/Rubik-Regular.ttf') format('truetype');
}


body {
    background-image: url('/media/bkg-dark.jpg');
    background-attachment: fixed;
    background-position-x: center;
    color: #fafafa;
    font-family: Rubik, Roboto, "Open Sans", Lato;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: var(--b-green);
  }
  
  ul {
    margin: 0;
  }
  
  .title-img {
    width: 65%;
  }
  
  .site-header {
    font-size: 7em;
    text-align: center;
    padding: 1.75rem;
  }
  
  .site-header span {
    color: var(--b-green);
    text-shadow: 2px 2px 2px var(--d-gray);
  } 


  .site-header a:hover {
    color: #616f39;
    text-decoration: none;
  }

  
  .content-section {
    background: var(--dark);
    padding: 10px 20px;
    border: 1px solid #474545;
    border-radius: 3px;
    margin-bottom: 20px;
  }

  .list-group-item {
    background-color: var(--d-gray);
    /* color: var(--d-green); */
    color: white;
  }
  
  .content-section .list-group a {
    text-decoration: none;
    color: white;
  }
  
  .content-section .list-group a:hover {
    text-decoration: none;
    color: var(--dark);
  }

  .article-title {
    color: white;
  }
  
  a.article-title:hover {
    color: var(--b-green);
    text-decoration: none;
  }
  
  .text-d-green {
    color: var(--d-green);
  }

  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 100px;
    width: 100px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
    object-fit: cover;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .pag-style {
    background-color: var(--d-gray);
    color: var(--d-green);
    border: 1px solid var(--dark);
  }

  @media only screen and (max-width: 900px){
    .site-header {
      font-size: 3.5em;
      text-align: center;
      padding: 0.75rem;
    }
  }